/* stylesProductos.css */

/* General styles for the window */
.root {
    -fx-font-family: Rubik-Bold;
    -fx-background-color: linear-gradient(to bottom, #97b3ae, #d3e1d3);
}

/* Styles for labels */
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #231f1e;
}

/* Bold style for the product list label */
.label-title {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-fill: #231f1e;
}

.titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #231f1e;
}

/* Styles for text fields */
.text-field {
    -fx-padding: 5px;
    -fx-border-color: #231f1e;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-background-color: #efede9;
    -fx-font-size: 14px;
}

/* Estilo para el ComboBox */
.combo-box {
    /*-fx-background-color: #efede9; !* Fondo de color blanco *!*/
    /*-fx-border-width: 1px;*/
    /*-fx-background-radius: 10px;*/
}

/* Estilo para el botón desplegable del ComboBox */
.combo-box .arrow-button {
    -fx-background-color: #efede9; /* Cambia el color de fondo */
    -fx-background-radius: 0 5px 5px 0; /* Ajusta el radio del borde */
}

/* Estilo para la flecha del ComboBox */
.combo-box .arrow {
    -fx-background-color: #3a2d28; /* Cambia el color de la flecha */
}

/* Estilo para las celdas seleccionadas dentro del ComboBox */
.combo-box .list-cell:selected {
    -fx-background-color: #efede9; /* Fondo de color oscuro */
    -fx-background-radius: 5px;
    -fx-text-fill: #3a2d28; /* Texto de color blanco */
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #3a2d28; /* Color del borde */
    -fx-font-size: 14px;

}

/* Estilo para las celdas cuando se hace hover */
.combo-box .list-cell:hover {
    -fx-background-color: #f2c4b8; /* Fondo de color oscuro */
    -fx-text-fill: #3a2d28; /* Texto de color blanco */
}

/* Styles for the products listview & inferior buttons*/
.list-view .list-cell {
    -fx-padding: 10px;
    -fx-border-color: #231f1e;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #efede9;
    -fx-spacing: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 3);
}

/* Styles for list cell text */
.list-view .list-cell .text {
    -fx-font-size: 14px;
    -fx-text-fill: #231f1e;
}

/* Styles for selected list cells */
.list-view .list-cell:selected {
    -fx-background-color: #3a2d28;
    -fx-text-fill: #f2c4b8;
    -fx-border-color: #3a2d28;
}
/* Styles for buttons */
.button {
    -fx-background-color: #efede9;
    -fx-text-fill: #3a2d28;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.button:hover {
    -fx-background-color: #3a2d28;
    -fx-text-fill: #efede9; /* Button text color on hover */
}

.button:pressed {
    -fx-background-color: #f2c4b8; /* Button background color when pressed */
    -fx-text-fill: #3a2d28; /* Button text color when pressed */
}


.button-inferior {
    -fx-background-color: #3a2d28;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 5);
}

.button-inferior:hover {
    -fx-background-color: #f1ede6;
    -fx-text-fill: #3a2d28;
}

.button-inferior:pressed {
    -fx-background-color: #f2c4b8;
    -fx-text-fill: #3a2d28;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 2);
}

/* tooltip.css */
.tooltip {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}