/* src/main/resources/styles/stylesSelection.css */
    .root {
        -fx-background-color: linear-gradient(to bottom, #97b3ae, #d3e1d3);
    }

    .button {
        -fx-background-color: #3a2d28;
        -fx-text-fill: white;
        -fx-font-size: 14px;
        -fx-padding: 10px 20px;
        -fx-border-radius: 10px;
        -fx-background-radius: 10px;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 5);
    }

    .button:hover {
        -fx-background-color: #f1ede6;
        -fx-text-fill: #3a2d28;
    }

    .button:pressed {
        -fx-background-color: #3a2d28;
        -fx-text-fill: white;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 2);
    }

    .list-view {
        -fx-background-color: white;
        -fx-border-color: #ccc;
        -fx-border-radius: 10px; /* Añadir border-radius al ListView */
        -fx-padding: 10px;
    }

    .list-cell {
        -fx-padding: 10px;
        -fx-border-color: #ddd;
        -fx-border-width: 0 0 1px 0;
        -fx-background-radius: 10px; /* Añadir border-radius a las celdas */
    }

    .list-cell:selected {
        -fx-background-color: #3a2d28; /* Color de fondo para la celda seleccionada */
        -fx-text-fill: white; /* Color del texto para la celda seleccionada */
        -fx-background-radius: 10px; /* Añadir border-radius a la celda seleccionada */
    }